---
title: Levin Wilkinson - About
permalink: /about/
layout: 'layout_pages.njk'
---

<article id="about" class="side-padding" aria-labelledby="about_h2">
    <div class="main-body">
        <h2 id="about_h2">about me</h2>

        {% image "me.png", "Lev smiling at the camera", "(max-width: 600px) 90vw, (max-width: 1024px) 50vw, 33vw" %}

        <p>Hello! My name is Lev and I'm a data scientist and photographer.</p>
        <p>My pronouns are they/them.</p>
        <p>I live in Glasgow, Scotland.</p>
        <p>I work as an Information Analyst for Public Health Scotland, doing data analysis and helping to publish national statistics about drug misuse in Scotland.</p>
        <p>In my free time, I love coding, gaming, and weaving.</p>
        <p>To get in touch, catch me on <a class="external-link" href="https://www.linkedin.com/in/l-wilko/" aria-label="Link to Lev's LinkedIn page" rel="external">LinkedIn</a> or <a class="external-link" href="https://twitter.com/wilkotweets" aria-label="Link to Lev's Twitter page" rel="external">Twitter</a>. :)</p>
    </div>

</article>