<header>
    <h1><a href="{{ '/' | url }}"><span>⚡</span> levin wilkinson <span>⚡</span></a></h1>
    <nav>
        <a href="/about/">about</a> |
        <a href="/work/">work</a> |
        <a href="/photography/">photography</a> |
        <a href="/links/">links</a>
</header>