<header>
    <h1><a class="internal-link" href="{{ '/' | url }}" aria-label="Link to homepage" rel="internal"><span>⚡</span> levin wilkinson <span>⚡</span></a></h1>
    <nav>
        <a class="internal-link" href="/about/" aria-label="Link to About page" rel="internal">about</a> |
        <a class="internal-link" href="/work/" aria-label="Link to Work page" rel="internal">work</a> |
        <a class="internal-link" href="/photography/" aria-label="Link to Photography page" rel="internal">photography</a> |
        <a class="internal-link" href="/links/" aria-label="Link to Links page" rel="internal">links</a>
</header>