/* Generic styles */
p {
    font-family: Arial, Helvetica, sans-serif;
}

/* Header styles */
.header {
    text-align: center;
    background: white;
    padding-left: 28%;
    padding-right: 28%;
}

.header h1 {
    font-family: "Andale Mono", Courier, monospace;
    font-weight: bolder;
}

.header a {
    color: black;
}

/* Body text styles */
.main-body {
    padding-left: 30%;
    padding-right: 30%;
}

.main-body img {
    max-width: 100%;
}

/* Footer styles */
.footer {
    text-align: right;
}

.footer p {
    font-size: 10pt;
}

/* Homepage */
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.square {
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 1%;
    float:left;
    width: 400px;
    height: 250px;
    text-align: center;
    background-color: "#CE7DEC";
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#about_square {
    background-image: url("./images/about-me.png");
}

#code_square {
    background-image: url("./images/coding.png");
}

#photography_square {
    background-image: url("./images/photography.png");
}

#links_square {
    background-image: url("./images/links.png");
}

.square a {
    font-family: "Andale Mono", Courier, monospace;
    color: aliceblue;
    background-color: black;
}