---
title: Levin Wilkinson - Work
permalink: /work/
layout: 'layout_pages.njk'
---

<article id="work" class="side-padding" aria-labelledby="work_h2">
    <div class="main-body">
        <h2 id="work_h2">work</h2>
        <p>I currently work in the Drugs Team at Public Health Scotland as an Information Analyst, working on estimation of the <a class="external-link" href="https://publichealthscotland.scot/our-areas-of-work/substance-use/data-and-intelligence/prevalence-of-problematic-drug-use-in-scotland/" aria-label="Link to the drug prevalence project webpage" rel="external">prevalence of drug misuse in Scotland</a> and producing <a class="external-link" href="https://publichealthscotland.scot/publications/national-naloxone-programme-scotland-annual/national-naloxone-programme-scotland-monitoring-report-201920-202021/" aria-label="Link to the most recent release Naloxone annual publication" rel="external">national statistics</a> on the distribution of take-home Naloxone kits.
        <p>My CV is available <a href="./files/Levin Wilkinson CV.pdf">here</a>!</p>
        <h3>COVID-19 vaccination uptake modelling</h3>
        <img src="{{'/assets/images/mphys.png' | url }}" alt="Graph showing a positive correlation between amount of anti-vaccination people in a population and airborne outbreak size"/>
        <h4>Submitted for Master's in Physics (MPhys) project @ the University of Edinburgh</h4>
        <a class="external-link" href="https://github.com/lwilko/mphys" aria-label="Link to the COVID project GitHub page" rel="external">Modelling the role of anti-vaccination sentiment in disease outbreaks on a heterogeneous network</a>
        <p>
            <ul>
                <li>modelled the spread of COVID-19 on a novel network configuration built to mimic the UK population</li>
                <li>main findings:</li>
                <ul>
                    <li>main finding: a larger amount of anti-vaxxers in a population <span type="emph">increases the likelihood that a disease will become endemic</span> (last longer than 10 years, as with flu)
                    <li>also found that a larger amount of anti-vaxxers in a population <span type="emph">exponentially increases the number of cases</span> in an epidemic</li>
                </ul>
                <li>full dissertation available <a href="{{  '/assets/pdfs/mphys_dissertation.pdf' | url }}" aria-label="Link to MPhys dissertation">here</a></li>
            </ul>
        </p>
    </div>

</article>
